<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Burgers</title>
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <script src="/assets/js/burger.js"></script>
</head>

<body>
    <h1>Eat da Burger</h1>
    <img src="/assets/img/burger.png" alt="burger">
    {{{body}}}
</body>

</html>