<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>
    <link href="/assets/css/burger.css">
</head>

<body>
    <h1>Burger</h1>
    <img src="/assets/img/burger.png" alt="burger">
    {{{body}}}

    <form id="add-burger-form">
        <input id="burgerName" type="text" placeholder="burger name" />
        <button>Add</button>
    </form>
</body>

</html>