<table>
    <tr>
        <th>
            <h2>Burgers</h2>
        </th>
        <th>
            <h2>Devoured</h2>
        </th>
    </tr>
    <tr>
        <td>
            <div id="not-devoured">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        <p>
                            {{burgerName}}
                            <button class="devour-btn" data-id="{{id}}">Devour</button>
                        </p>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </td>
        <td>
            <div id="devoured">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        <p>
                            {{burgerName}}
                        </p>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </td>
    </tr>
</table>


<form id="add-form" action="">
    <input id="burger-name" type="text">
    <button>Add</button>
</form>